# Игнорируем всё
*

# Разрешаем только конкретные файлы в корне
!ASD.csproj
!ASD.sln
!InvalidPositionException.cs
!MailingList.cs
!Program.cs

# Разрешаем папки
!Cursors/
!DoubleLinked/

# Разрешаем всё содержимое внутри этих папок
!Cursors/**
!DoubleLinked/**